card_app.csproj
card_app.sln
bin/Debug/net7.0/card_app.deps.json
bin/Debug/net7.0/card_app.dll
bin/Debug/net7.0/card_app.exe
bin/Debug/net7.0/card_app.pdb
bin/Debug/net7.0/card_app.runtimeconfig.json
obj/card_app.csproj.nuget.dgspec.json
obj/card_app.csproj.nuget.g.props
obj/card_app.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/card_app.AssemblyInfo.cs
obj/Debug/net7.0/card_app.AssemblyInfoInputs.cache
obj/Debug/net7.0/card_app.assets.cache
obj/Debug/net7.0/card_app.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/card_app.csproj.FileListAbsolute.txt
obj/Debug/net7.0/card_app.dll
obj/Debug/net7.0/card_app.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/card_app.genruntimeconfig.cache
obj/Debug/net7.0/card_app.GlobalUsings.g.cs
obj/Debug/net7.0/card_app.pdb
obj/Debug/net7.0/ref/card_app.dll
obj/Debug/net7.0/refint/card_app.dll
